{% extends "pinterest_feed/base.html" %}
{% load humanize %}
{% block content %}
 <section class="content">
    <div class="row">
        <div class="col-md-9">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Темы</h3>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
              <form method="post" action="{% url 'action_pin' %}">
                  {% csrf_token %}
                   
            <div class="box-body no-padding">
              <div class="mailbox-controls">

                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>

                                <!-- /.form-group -->
              <div class="btn-group">
                <select class="form-control select2" name="pointer_action" style="width: 100%;">
                  <option selected="selected" value="delete">Delete</option>
                  <option value="add_to_queue">Add to queue</option>
                </select>
              </div>
              <!-- /.form-group -->
              <div class="btn-group">
                  <button type="submit" class="btn btn-default btn-sm">Применить</button>                               
              </div>
                <!-- /.btn-group -->               
                <div class="pull-right">

                  {{ list_pin.number }}/{{ list_pin.paginator.num_pages }}
                  <div class="btn-group">
                    {% if list_pin.has_previous %}
                        <button type="button" class="btn btn-default btn-sm" onclick="location.href = '?page={{ list_pin.previous_page_number }}'"><i class="fa fa-chevron-left"></i></button> 
                    {% endif %}   
                    {% if list_pin.has_next %}
                       <button type="button" class="btn btn-default btn-sm" onclick="location.href = '?page={{ list_pin.next_page_number }}'"><i class="fa fa-chevron-right"></i></button>
                   {% endif %}               
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.pull-right -->

              </div>
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                  <tbody>
              {% for item in list_pin %}
                  <tr>
                    <td><input type="checkbox" name="pointer_user[]" value="{{item.id}}"></td>
                    <td class="mailbox-name">{{ item.text }}</td>
                    <td class="mailbox-subject"><a href="{{ item.link }}" target="_blank">Открыть на сайте</a></td>
                    <td class="mailbox-attachment"></td>
                    <td><img src="{{ item.img_url }}" height="100" width="100"/></td>   
                    <td class="mailbox-date">{{ item.time_parsing|naturaltime }}</td>
                  </tr>
              {% endfor %}                     
                  </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-padding">
              <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm" onclick="location.href = '{% url 'action_pin' %}'"><i class="fa fa-trash-o"></i></button>
                </div>
                <!-- /.btn-group -->
                <div class="pull-right">
                  {{ list_pin.number }}/{{ list_pin.paginator.num_pages }}
                  <div class="btn-group">
                    {% if list_pin.has_previous %}
                        <button type="button" class="btn btn-default btn-sm" onclick="location.href = '?page={{ list_pin.previous_page_number }}'"><i class="fa fa-chevron-left"></i></button> 
                    {% endif %}   
                    {% if list_pin.has_next %}
                       <button type="button" class="btn btn-default btn-sm" onclick="location.href = '?page={{ list_pin.next_page_number }}'"><i class="fa fa-chevron-right"></i></button>
                   {% endif %}               
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.pull-right -->
              </div>
            </div>

               </form>
          </div>
          <!-- /. box -->
        </div>

        <!--Form Filter-->
            {% include 'pinterest_feed/include/filter_ads.html' %} 
        <!--Ends Form Filter-->
    </div>       
                     
 </section>

{% endblock %}